fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
langchain
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-text-splitters
chromadb
python-multipart 
pypdf 
pdfplumber
docx2txt
pytesseract
Pillow
pdf2image

beautifulsoup4
langchain-pinecone
pinecone-client
langchain-experimental
